/* Fuentes */
$font-new-zeland: "Playwrite NZ Basic", cursive;
$font-montserrat: "Montserrat", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;

/* Tamaño de Media Queries */
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Paleta de Colores */
$color-midnight-blue: #122e76;
$color-main-gray: #f0f0f0;
$color-freesia: #f7cb2d;
$color-serenity: #a2c4e0;
$color-amaranth:  #A4243B;
$color-coquelito:  #FF4000;
$color-crimson:#D7263D;
$color-claret:#8B2635;
$color-azure:#EDF7F6;
$color-dark:#131313;
$color-light:#f5f5f5;
$color-white:#fff;
$color-black:#000;
$color-logo-red:#800000;