<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>@AppName | @pageName</title>

  <link rel="icon" type="image/png" href="@url/images/ICON.png">
  <link rel="apple-touch-icon" href="@url/images/ICON.png">

</head>

<body>
  {% include includes/navbar.html %}

  <main class="container">
    @content
  </main>
</body>

</html>